@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#liNav {
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 0.3px;
}
#liNav:hover {
  color: rgb(15, 22, 36);
}
#liNavContact {
  color: rgb(43, 255, 131);
  font-weight: 700;
}
#liNavContact:hover {
  background-color: rgb(43, 255, 131);
  color: black;
}

.btnDownload {
  color: rgb(43, 255, 131);
  border: solid 2px;
  border-radius: 50px;
  width: 168px;
  height: 40px;
  font-weight: 700;
  transition: 0.5s;
}
.btnDownload:hover {
  background-color: rgb(43, 255, 131);
  color: #000;
}
#sectionprj:hover {
  border: 2px solid rgb(43, 255, 131);
}
#sectionprj:hover #title {
  color: rgb(43, 255, 131);
}
#prj {
  border: 2px solid rgb(195, 195, 195);
}
#prj:hover {
  border: 2px solid rgb(43, 255, 131);
}
#prj:hover #title {
  color: rgb(43, 255, 131);
}

/* icon skills */

#iconSkills1:hover {
  color: rgb(255, 60, 0);
}
#iconSkills2:hover {
  color: rgb(251, 255, 0);
}
#iconSkills3:hover {
  color: rgb(251, 255, 0);
}
#iconSkills4:hover {
  color: rgb(0, 179, 255);
}
#iconSkills5:hover {
  color: rgb(144, 0, 255);
}
#iconSkills6:hover {
  color: rgb(255, 60, 0);
}
#iconSkills7:hover {
  color: rgb(255, 60, 0);
}

#borderCicle {
  border-radius: 50%;
  stroke: rgb(43, 255, 131);
  stroke-width: 4px;
  fill: transparent;
}

/* @keyframes rotate{
  form{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
} */